AISTUDY_PUBLIC_DATA_ROOT=F:\AIstudyPublicData
AISTUDY_PUBLIC_RUNTIME_ROOT=F:\AIstudyPublicData\runtime

AISTUDY_PUBLIC_MYSQL_HOST=127.0.0.1
AISTUDY_PUBLIC_MYSQL_PORT=3306
AISTUDY_PUBLIC_MYSQL_USER=root
AISTUDY_PUBLIC_MYSQL_PASSWORD=
AISTUDY_PUBLIC_MYSQL_DATABASE=aistudy_public
